.section#port{
    height: 100vh;
}
.section#port .portfolio_wrap{
    padding: 0;
}

.portfolio_wrap{
    width: 100%;
    height: 100%;
}
.port-main{
    width: 100%;
    height: 100%;
    background-color: #8FC3E8;
}
.main-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 10rem;
    font-weight: 700;
}
.port-gif{
    background-image: url(../img/port/port-1-bg.gif);
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.overview, .port-goal{
    padding: 5.25rem;
}
.port-goal{
    text-align: center;
}
.port-tittle-gray{
    font-size: 1.25rem;
    color: #969696;
    margin-bottom: 3rem;
}
.port-title{
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.port-title.port-1{
    color: #8FC3E8;
}
.port-title.port-4{
    color: #F28121;
}
.port-coment{
    font-size: 1.25rem;
    line-height: 1.75;
    text-align: justify;
    max-width: 1300px;
}
.overview-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 3.75rem;
}
.port-graph{
    display: flex;
    width: 18.75rem;
    height: 100%;
    padding: 0.5rem 0;
}

.port-percent{
  height: 1rem;
  background-color: #111111;
  margin-right: 0.5rem;
}
.port-percent.per-100{
    width: 100%;
}
.port-percent.per-95{
    width: 95%;
}
.port-percent.port-4{
    background-color:#F28121
}

.port-t{
    width: 4rem;
}
.port-day{
    width: 100%;
}
.port-day div{
    text-align: right;
}
.graph-div{
    display: flex;
    width: 14.75rem;
    align-items: center;
}
.direct-btn{
    font-size: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #969696;
    border-radius: 1000px;
    padding: 0.7rem 1.5rem;
}


.port-4-bg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.port-half{
    display: flex;
}
.task-group{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1.25rem;
}
.task-list{
    display: flex;
    gap: 1.25rem;
    border-radius: 30px;
    border: 1px solid #969696;
    padding: 2.25rem;
}
.task-icon{
    width: 35px;
    height: 35px;
    fill: #969696;
}
.task-text{
    font-size: 1.25rem;
    line-height: 1.75;
    text-align: justify;
    color: #969696;
}
.goal-box{
    width: 50%;
}
.goal-list{
    width: 100%;
    height: 100%;
}

.goal-img{
    width: 100%;
    height: 100%;
}
/* 금화C&E 로딩페이지 */
.loading-page {
    background: #fff;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
}
#svg {
    height: 150px;
    width: 150px;
    stroke: #F28121;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke-dasharray: 4500;
    animation: draw 17s ease;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.name-container {
    height: 30px;
    overflow: hidden;
}
.logo-name {
    color: #F28121;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bolder;
}